SNOWFLAKE_ACCOUNT=HCOOYHA-DS63251
SNOWFLAKE_USER=KATTABHAVANA
SNOWFLAKE_PASSWORD=Password@010405
SNOWFLAKE_WAREHOUSE=COMPUTE_WH
SNOWFLAKE_DATABASE=IPRA_DB
SNOWFLAKE_SCHEMA=CORE
SNOWFLAKE_ROLE=ACCOUNTADMIN