
# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
venv/
env/
myenv/

# Environment variables / secrets
.env

# Test / coverage artifacts
.pytest_cache/
.coverage
htmlcov/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Local directory for temporary files and downloaded binaries
**/.terraform/*
**/.terraform

# Exclude all .tfvars files (they often contain secrets/passwords)
*.tfvars
*.tfvars.json
**/*.tfvars
**/*.tfvars.json

# Exclude local state files if you are not using a remote backend
*.tfstate
*.tfstate.backup
*.tfstate.lock.info

# Ignore CLI configuration files
.terraform.rc
terraform.rc

**/tfplan
**/.terraform.lock.hcl